/* Stiluri pentru profil */
.section-profile {
    padding: 1em 0;
}

.container-profile {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #23252B;
    border-radius: 10px;
    box-shadow: 0 0 10px #F47521;
    color: white;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cardBody {
    text-align: center;
}

.cardImage {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 0;
}

.NikName {
    font-weight: 600;
    font-size: 2em;
    margin-top: 0.5em;
}

.listGroup {
    list-style: none;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

.col {
    flex: 1;
    padding: 10px;
}

.profile-input {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    font-size: 1em;
    outline: none;
}

.profile-input:focus {
    border-color: #F47521;
}

.edit-button, .save-button {
    background-color: #E26400;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .save-button:hover {
    background-color: #F47521;
}
